version: '3.7'

networks:
  traefik-public:
    external: true
  nuvla-backend:
    external: true

secrets:
  session.crt:
    file: ./secrets/session.crt
  session.key:
    file: ./secrets/session.key

configs:
  log4j.properties:
    file: ./log4j.properties

services:
  api:
    image: nuvla/api:6.5.0
    configs:
      - source: log4j.properties
        target: /opt/nuvla/server/resources/log4j.properties
    environment:
      - ES_ENDPOINTS=es
      - ES_SNIFFER_INIT=yes
      - ES_SNIFF_INTERVAL=5001
      - ES_SNIFF_AFTER_FAILURE_DELAY=1001
      - ZK_ENDPOINTS=zk:2181
      - NUVLA_SUPER_PASSWORD=supeR8-supeR8
      - KAFKA_PRODUCER_INIT=yes
      - KAFKA_ENDPOINTS=${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
    secrets:
      - source: session.crt
        target: /etc/nuvla/session/session.crt
      - source: session.key
        target: /etc/nuvla/session/session.key
    deploy:
      placement:
        constraints:
          - node.labels.type == frontend
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.api-service.loadbalancer.server.port=8200"
        - "traefik.http.services.api-service.loadbalancer.healthcheck.path=/api/cloud-entry-point"
        - "traefik.http.middlewares.api-middleware.headers.customrequestheaders.nuvla-authn-info="
        - "traefik.http.routers.api-router.rule=Host(`example.com`) && PathPrefix(`/api`)"
        - "traefik.http.routers.api-router.entrypoints=websecure"
        - "traefik.http.routers.api-router.tls.certresolver=cert-resolver"
        - "traefik.http.routers.api-router.middlewares=api-middleware"
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend
      - traefik-public

  # User interface takes the paths /, /ui/*, anything else
  # is routed elsewhere.
  ui:
    image: nuvla/ui:2.36.5
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.ui-service.loadbalancer.server.port=80"
        - "traefik.http.services.ui-service.loadbalancer.healthcheck.path=/ui/index.html"
        - "traefik.http.routers.ui-router.rule=Path(`/`) || PathPrefix(`/ui`)"
        - "traefik.http.routers.ui-router.entrypoints=websecure"
        - "traefik.http.routers.ui-router.tls=true"
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - traefik-public

  job-executor:
    image: nuvla/job:4.0.3
    command: -- /app/job_executor.py --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      replicas: 5
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  job-distributor:
    image: nuvla/job:4.0.3
    entrypoint: /app/job_distributor.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      replicas: 2
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend
