version: '3.7'

networks:
  traefik-public:
    external: true
  nuvla-backend:
    external: true

secrets:
  session.crt:
    file: ./secrets/session.crt
  session.key:
    file: ./secrets/session.key

configs:
  log4j.properties:
    file: ./log4j.properties

services:
  api:
    image: nuvla/api:5.13.0
    configs:
      - source: log4j.properties
        target: /opt/nuvla/server/resources/log4j.properties
    environment:
      - ES_ENDPOINTS=es
      - ES_SNIFF_INTERVAL=5001
      - ES_SNIFF_AFTER_FAILURE_DELAY=1001
      - ZK_ENDPOINTS=zk:2181
      - NUVLA_SUPER_PASSWORD=supeR8-supeR8
      - KAFKA_ENDPOINTS=${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}
    secrets:
      - source: session.crt
        target: /etc/nuvla/session/session.crt
      - source: session.key
        target: /etc/nuvla/session/session.key
    deploy:
      placement:
        constraints:
          - node.labels.type == frontend
      labels:
        - "traefik.enable=true"
        - "traefik.port=8200"
        - "traefik.backend=api"
        - "traefik.backend.healthcheck.path=/api/cloud-entry-point"
        - "traefik.frontend.headers.customRequestHeaders=nuvla-authn-info:"
        - "traefik.frontend.rule=PathPrefix:/api"
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend
      - traefik-public

  # User interface takes the paths /, /ui/*, anything else
  # is routed elsewhere.
  ui:
    image: nuvla/ui:2.18.0
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      labels:
        - "traefik.enable=true"
        - "traefik.port=80"
        - "traefik.backend=ui"
        - "traefik.backend.healthcheck.path=/ui/index.html"
        - "traefik.frontend.headers.customRequestHeaders=nuvla-authn-info:"
        - "traefik.frontend.rule=Path:/,/ui/,/{a:ui.*}"
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - traefik-public

  job-executor:
    image: nuvla/job:2.15.0
    command: -- /app/job_executor.py --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      replicas: 5
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-jobs-cleanup:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_jobs_cleanup.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-deployment-state_10:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_deployment_state.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 10
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-deployment-state_60:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_deployment_state.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 60
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-comp-image-state:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_component_image_state.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 3600
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-srvc-image-state:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_service_image_state.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 3600
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-nuvlabox-releases:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_nuvlabox_releases.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-usage-report:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_usage_report.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-vulnerabilities-database:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_vulnerabilities_database.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-nuvlabox-status-offline:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_nuvlabox_status_offline.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-subscriptions:
    image: nuvla/job:2.15.0
    entrypoint: /app/job_distributor_subscriptions.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  jobd-nuvlabox-cluster-cleanup:
    image: nuvla/job:2.14.1
    entrypoint: /app/job_distributor_nuvlabox_cluster_cleanup.py
    command: --api-url http://api:8200 --api-insecure --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend

  notify-slack:
    image: nuvla/kafka-notify:0.5.0
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend
    command:
      - slack
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}"

  notify-email:
    image: nuvla/kafka-notify:0.5.0
    deploy:
      placement:
        constraints:
          - node.labels.type == worker-job
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - nuvla-backend
    command:
      - email
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "${KAFKA_BOOTSTRAP_SERVERS:-kafka:9092}"
      # If not provided, will be taken from configuration/nuvla resource if defined there.
      SMTP_HOST: "${SMTP_HOST}"
      SMTP_PORT: "${SMTP_PORT}"
      SMTP_SSL: "${SMTP_SSL}"
      SMTP_USER: "${SMTP_USER}"
      SMTP_PASSWORD: "${SMTP_PASSWORD}"
