language: java
dist: xenial
services:
- docker
before_install: ./.travis.before_install.sh
stages:
- deploy
notifications:
  slack:
    secure: GoXaHXaqwhxYeGw+02wvdlxAzVfQuKZgZEzhqS27eYBXDM2p3UkqOLJsH3EdfqtXoJZ+owEOoLvcKwqUUAWKc87L3oPmqfrE4Wfrr8AMTtjY17iNfGh0c4Ripysaw5VBSujlGgroKxN747T0QJvniD6UKz5N4vMQf8mWrtvbUPk9AeidAyypH8oTdRlAB6YKNgwJ5xcvbnwEP3UaDudhsj9cNgIVWie5ybZFPL3K8YkAuitcLWlEOsNFVYw/W6gAktf2gAuBx5h9+w2waZr8BHfdqCsDT/rvWy4YN5L1x/we6sWTGsgFBacccX2cAKCz3//hmQXQBB2fu/+AMqLutZ+U93F2NJO0Nwp3VdUImIM0DBFp/8u9f2PxDnfwU3ym94JcuCJgWRwScQyedVjyilTHueuiMlSeSGVwDAwe7cSVxA9weiR5TtZIjQJDOiaUBgVYoYP+XbrleCowbxXkQI6TlVJv1GAc0G/92QQlKB2vE3hDJ2J2EiX3dMNYl50kDjVr8k1eR3VNSVM3t9HxZ/KoCDWabA9riGxgSbn3zQ1s56LZddlITSZ8LDbkFkRTnaTZG9zb/NWRf6KyfAln08iD0oHobdbVLEiA8Q6X29lW+KB0AzF+xre6o3YP9JFqdYEHofZZvkuha32JUJ+LQKNCeZdsuIZinwlHfEnnObI=
jobs:
  include:
  - stage: deploy
    install: skip
    script: cd nuvlabox-engine-installer && ./container-release.sh
env:
  global:
  - secure: pVeHMV00CS1onX+pglXVR+Mpi1qo+679xaEAyeX9k59XcCgb1RqXCzotS9yqG652cCF/M5J9wJHEYFm8uRmDqMGnIqE7hwLF5k/4LOOHl5bHEfa/n1yEMvXiPcCm8HJfnXQxLMDPaxdDZa+Bsd2umDExFi8s8dgGa7PnIC2VYrMLpHXbosq7rfPzpE1j/2QpBoqCJiIftMIxcrupmccZ8ruywWRrdgKCinlFPgvCQ6Tx3DA4/dmk3J2ZE5TMfvBeNX/nriomtRlTr4JnJs7DUDRWyUfTbraMx6SFSqM5qwfSNW1ZxBbkDUw6XOgMMYlivySQksRchscVL9i+ClXHFmDw8R08jBLBAniq+yRXq0Obj856qVni9WI7UyVnM6Vj9L47hPSWoPJRRJKoRZDmdkIjzhdDsr/kH87rJPkhuje70itiKL7IQWoF9vnsH/YqSTvv3dexf2nYQBn+B2vG+7gNIqYH3V9tSW+ilohXPFSVUXCiXlAW+LNKv59/lnPwzOxrJKXXor1Z0r7dtYrG3l1KF1YIl25LHDZX7hrsG7GNOpoDTX5S1Akb1nfHs3hfH2aKJgenpXxRgDVL2GZvic6X9dVNEALefinELeiDqT3uu/WH4twuZdvMRUgCsNubaqcqw5LsOA+I0IyqEltp8stPBGZk39EbyHBzT53IFRk=
  - secure: fiFF8VPAbZU/y88ZHp5L8yv7gtIg1VleUqsc9YVtft7kX5sPx7lhaeyNZz6Xt7VqSMAgLfBW2PLlqXW27v32Q4j0ybwo3rEC41sSBdXaX578bEAKLmD5zdqxwQ+oLFF7Bu3gBm2kntHAJls9wTy8oi7rGueEIkkpkpoD079+y3AIdioZRsaNnwJyy/Omfx5TM375hHQWgVBzl5CfYjvaInnMtPJTIA3mdVtqwFBnZQvuwDR62oU4DbX9KRL+Mextb56wxVqZrpymhWTldmsMdNXKqFBKKijUY3G1iGHimtVpL738wV9m2uDjb/475JlISLga0zZIQL9dp1W8Js7pWrJXKvEeBr+EhJ99Xh8/ae92Q6dSZUDXFWZAotAIaIyI/UTPG/9+MHV88cAsBuPNXgXMeO8mP153bsbAm3WgDSTYOwlLRpvIuuL3qFp/znuUSvYKytz/wjBjgcnj7gGhs8vIv/wJMi8lSruR+ZhYEUeHpjbvp3gQUMTuBny8yLoVJxXQ0FEs3Z++qGMk4ufMV4HsWkp0VQBMjkPx/HV6Emg0FB17c2CDmnSdk+EQwg34WndV9Q1xby17AanQ38fMZkIfsLAW8cxU/mqMZVp+UEQ1cOXJTzu9ORSLbmHlXEDCutQA8d3xOKJdE5mtHy1X/9bhjEVPzylraCYucnEh4Mc=
