version: '3.3'

services:
  es:
    image: nuvla/es:7.0.0.0
    ports:
      - "9200:9200"
    environment:
      - cluster.name=elasticsearch
      - xpack.security.enabled=false
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s    
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - nuvla-backend

  zk:
    image: zookeeper:3.4
    ports:
      - "2181:2181"
    environment:
      - ZOO_MY_ID=3
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s    
    volumes:
      - zkdata:/data
      - zkdatalog:/datalog
    networks:
      - nuvla-backend

networks:
  nuvla-backend:
    external: true

volumes:
  esdata:
    driver: local
  zkdata:
    driver: local
  zkdatalog:
    driver: local
