version: '3.7'

services:
  proxy:
    image: traefik:1.7
    command: --api --web --docker --docker.swarmMode --docker.watch --docker.network=demo_frontend --docker.exposedByDefault=false --loglevel=info
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    configs:
      - source: traefik.toml
        target: /traefik.toml
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    deploy:
      placement:
        constraints:
          - node.role == manager
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - frontend

  es:
    image: nuvla/es:7.7.0.0
    environment:
      - cluster.name=elasticsearch
      - xpack.security.enabled=false
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s    
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - backend

  zk:
    image: zookeeper:3.4
    environment:
      - ZOO_MY_ID=3
    ports:
      - "2181:2181"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s    
    volumes:
      - zkdata:/data
      - zkdatalog:/datalog
    networks:
      - backend

  api:
    image: nuvla/api:5.3.0
    environment:
      - ES_ENDPOINTS=es
      - ZK_ENDPOINTS=zk:2181
      - NUVLA_SUPER_PASSWORD=supeR8-supeR8
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.port=8200"
        - "traefik.backend=api"
        - "traefik.backend.healthcheck.path=/api/cloud-entry-point"
        - "traefik.frontend.headers.customRequestHeaders=nuvla-authn-info:"
        - "traefik.frontend.rule=PathPrefix:/api"
      restart_policy:
        condition: on-failure
        delay: 5s    
    networks:
      - backend
      - frontend
    healthcheck:
      start_period: 30s
      retries: 5
      test: curl -sSf http://localhost:8200/api/cloud-entry-point || exit 1

  # User interface takes the paths /, /ui/*, anything else
  # is routed elsewhere.
  ui:
    image: nuvla/ui:2.8.0
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.port=80"
        - "traefik.backend=ui"
        - "traefik.backend.healthcheck.path=/ui/index.html"
        - "traefik.frontend.headers.customRequestHeaders=nuvla-authn-info:"
        - "traefik.frontend.rule=Path:/,/ui/,/{a:ui.*}"
      restart_policy:
        condition: on-failure
        delay: 5s    
    networks:
      - frontend

  job-executor:
    image: nuvla/job:2.7.1
    command: -- /app/job_executor.py --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
        delay: 5s    
    networks:
      - backend

  jobd-jobs-cleanup:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_jobs_cleanup.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s    
    networks:
      - backend

  jobd-deployment-state_10:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_deployment_state.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 10
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - backend

  jobd-deployment-state_60:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_deployment_state.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 60
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - backend

  jobd-comp-image-state:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_component_image_state.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 3600
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - backend

  jobd-srvc-image-state:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_service_image_state.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181 --interval 3600
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - backend

  jobd-nuvlabox-releases:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_nuvlabox_releases.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - backend

  jobd-usage-report:
    image: nuvla/job:2.7.1
    entrypoint: /app/job_distributor_usage_report.py
    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
    networks:
      - backend

#  jobd-vulnerabilities-database:
#    image: nuvla/job:XYZ
#    entrypoint: /app/job_distributor_vulnerabilities_database.py
#    command: --api-url http://api:8200 --api-authn-header group/nuvla-admin --zk-hosts zk:2181
#    deploy:
#      restart_policy:
#        condition: on-failure
#        delay: 5s
#    networks:
#      - backend

configs:
  traefik.toml:
    file: ./traefik/traefik.toml

networks:
  frontend:
  backend:

volumes:
  esdata:
    driver: local
  zkdata:
    driver: local
  zkdatalog:
    driver: local
